html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100vh;
}

.mapa-container {
  flex: 10;
  width: 50%;
}

.panel-container {
  flex: auto;
  padding: 10px;
  background-color: #31a6d4;
  overflow-y: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

