html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.mapa-container {
  flex: 1;
  height: 100%;
}

.panel-container {
  width: 320px;
  height: 100%;
  background-color: #2e8ca8;
  padding: 20px;
  color: white;
  overflow-y: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}